*{
    box-sizing: border-box;
  }
  /* body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130f40;
    font-family: 'Lato' !important;
  } */
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 45px;
    width: 50px;
    border-style: none;
    margin:0%;
    font-size: 15px;
    outline: none;
    border-radius: 25px;
    transition: all .9s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:#fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 50px;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    color:#fff;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #fff;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid #fff;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  }